@media screen and (max-width: 1024px){
	section.head > .container > .head > .title{
    	font-size: 4em;
    }
    section.head > .container > .head > .description{
    	font-size: 1.2em;
	    
    }
    section.about > .container > .about > .title, section.services > .container > .services > .title, section.works > .container > .works > .title{
    	font-size: 2.1em;
    }
    section.services > .container > .services > .block > .item{
    	width: 200px;
    }
    section.services > .container > .services > .block > .item > i{
    	font-size: 5em;
    	
    }
    .toggle{
	    display: flex;
    }
    nav{
    	display: none;
    	margin: 0;
    }
    .menu-item{
    	margin: 15px auto;
    	display: block;
    	text-align: center;
    }
    .header{
    	flex-direction: column;
    }
    .header-left{
    	width: 100%;
    }
}