@media screen and (max-width: 1024px){
	section.head > .container > .head > .title{
    	font-size: 4em;
    }
    section.head > .container > .head > .description{
    	font-size: 1.2em;
	    
    }
    section.about > .container > .about > .title, section.services > .container > .services > .title, section.works > .container > .works > .title{
    	font-size: 2.1em;
    }
    section.services > .container > .services > .block > .item{
    	width: 200px;
    }
    section.services > .container > .services > .block > .item > i{
    	font-size: 5em;
    	
    }
    .toggle{
	    display: flex;
    }
    nav{
    	display: none;
    	margin: 0;
    }
    .menu-item{
    	margin: 15px auto;
    	display: block;
    	text-align: center;
    }
    .header{
    	flex-direction: column;
    }
    .header-left{
    	width: 100%;
    }
}
@media screen and (max-width: 480px){
    section.head > .container > .head > .title{
        font-size: 3em;
    }
    section.head > .container > .head > .description{
        font-size: 1em;
        
    }
    section.about > .container > .about > .title, section.services > .container > .services > .title, section.works > .container > .works > .title{
        font-size: 1.8em;
    }
    section.services > .container > .services > .block > .item > i{
        font-size: 4.5em;
        
    }
    section.about > .container > .about > .buttons{
        justify-content: center;
    }
    section.about > .container > .about > .buttons > .services{
        margin: 0 0 10px 0;
    }
    section.works > .container > .works > .block > .item {
        width: 272px;
        height: 215px;
        margin: 5px;
    }
    section.works > .container > .works > .block > .item > .monitor {
        width: 272px;
        height: 196px;
    }
    section.works > .container > .works > .block > .item > img {
        width: 260px;
        height: 136px;
        margin-top: 23px;
    }
    section.works > .container > .works > .block > .item > .content{

    }
    section.works > .container > .works > .block > .item > .content > .title{
        font-size: 1em;
    }
    section.works > .container > .works > .block > .item > .content > .description{
        font-size: 0.8em;
    }
    section.works > .container > .works > .block > .item > .content > a{
        font-size: 0.7em;
    }
}